# <font color='blue'>Analyzing Sales Data for Data Visualization and Insights Module</font>

## Imports

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

## Data
- Contains Fictitous sales Data on 100 different products for furniture, food, electronics and clothing
- Columns in the Dataset (Taken directly from Kaggle at [Sales Data Dataset Link](https://www.kaggle.com/datasets/vinothkannaece/sales-dataset)):
- Product_ID: Unique identifier for each product sold. Randomly generated for practice purposes.
- Sale_Date: The date when the sale occurred. Randomly selected from the year 2023.
- Sales_Rep: The sales representative responsible for the transaction. The dataset includes five random sales representatives (Alice, Bob, Charlie, David, Eve).
- Region: The region where the sale took place. The possible regions are North, South, East, and West.
- Sales_Amount: The total sales amount for the transaction, including discounts if any. Values range from 100 to 10,000 (in currency units).
- Quantity_Sold: The number of units sold in that transaction, randomly generated between 1 and 50.
- Product_Category: The category of the product sold. Categories include Electronics, Furniture, Clothing, and Food.
- Unit_Cost: The cost per unit of the product sold, randomly generated between 50 and 5000 currency units.
- Unit_Price: The selling price per unit of the product, calculated to be higher than the unit cost.
- Customer_Type: Indicates whether the customer is a New or Returning customer.
- Discount: The discount applied to the sale, randomly chosen between 0% and 30%.
- Payment_Method: The method of payment used by the customer (e.g., Credit Card, Cash, Bank Transfer).
- Sales_Channel: The channel through which the sale occurred. Either Online or Retail.
- Region_and_Sales_Rep: A combined column that pairs the region and sales representative for easier tracking.

In [2]:
sales_data = pd.read_csv("Data/Sales_Data.csv")

## Data Inspection

In [3]:
sales_data.head()

,Product_ID,Sale_Date,Sales_Rep,Region,Sales_Amount,Quantity_Sold,Product_Category,Unit_Cost,Unit_Price,Customer_Type,Discount,Payment_Method,Sales_Channel,Region_and_Sales_Rep
0,1052,03/02/2023,Bob,North,5053.97,18,Furniture,152.75,267.22,Returning,0.09,Cash,Online,North-Bob
1,1093,21/04/2023,Bob,West,4384.02,17,Furniture,3816.39,4209.44,Returning,0.11,Cash,Retail,West-Bob
2,1015,21/09/2023,David,South,4631.23,30,Food,261.56,371.40,Returning,0.20,Bank Transfer,Retail,South-David
3,1072,24/08/2023,Bob,South,2167.94,39,Clothing,4330.03,4467.75,New,0.02,Credit Card,Retail,South-Bob
4,1061,24/03/2023,Charlie,East,3750.20,13,Electronics,637.37,692.71,New,0.08,Credit Card,Online,East-Charlie

In [4]:
sales_data.info()
# Data contains 13 columns and 1000 rows with no null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Product_ID            1000 non-null   int64
 1   Sale_Date             1000 non-null   object
 2   Sales_Rep             1000 non-null   object
 3   Region                1000 non-null   object
 4   Sales_Amount          1000 non-null   float64
 5   Quantity_Sold         1000 non-null   int64
 6   Product_Category      1000 non-null   object
 7   Unit_Cost             1000 non-null   float64
 8   Unit_Price            1000 non-null   float64
 9   Customer_Type         1000 non-null   object
 10  Discount              1000 non-null   float64
 11  Payment_Method        1000 non-null   object
 12  Sales_Channel         1000 non-null   object
 13  Region_and_Sales_Rep  1000 non-null   object
dtypes: float64(4), int64(2), object(8)
memory usage: 109.5+ KB

## Data Inspection and Cleaning

### Product_ID Column
Contains Unique Identifier for each product

In [5]:
sales_data["Product_ID"].value_counts()

# Looks good is correct dtype and no null values contains 100 types of products

Product_ID
1090    20
1062    19
1092    19
1099    18
1033    18
        ..
1040     5
1011     4
1041     4
1083     4
1031     3
Name: count, Length: 100, dtype: int64

### Sale_Date Column
Contains date of sale

In [ ]:
sales_data["Sale_Date"].value_counts()

# Just converted to datetime format

sales_data["Sale_Date"] = pd.to_datetime(sales_data["Sale_Date"], format="%d/%m/%Y")

### Sales_Rep Column
Contains Name of Sales Rep

In [7]:
sales_data["Sales_Rep"].value_counts()

# Data looks good just converted to string type

sales_data["Sales_Rep"] = sales_data["Sales_Rep"].astype("string")

### Region Column
Contains the region in which the product was sold

In [8]:
sales_data["Region"].value_counts()

# Data looks good just converted to string type and chaning to irish provences

sales_data["Region"] = sales_data["Region"].astype("string")

### Sales_Amount Column
Total Amount of the sale including discounts

In [9]:
sales_data["Sales_Amount"].value_counts()

# Data has incorrect calculations need to redo by multiplying quantity sold by unit price minus the discount

sales_data["Sales_Amount"] = sales_data["Sales_Amount"].astype("float")

### Quantity_Sold Column
Conatins the total quantity sold within the sale

In [10]:
sales_data["Quantity_Sold"].value_counts()

# Data looks fine

Quantity_Sold
47    32
45    28
17    28
42    26
32    26
35    26
23    25
43    25
16    25
12    24
4     24
14    23
26    22
11    22
20    22
28    22
19    22
40    22
2     21
25    21
22    21
46    21
31    21
13    20
9     20
48    20
6     20
39    19
38    19
44    19
21    19
1     19
15    19
27    18
8     18
29    18
36    18
30    18
5     18
24    17
18    16
34    16
49    16
37    15
3     15
10    15
7     15
33    13
41    11
Name: count, dtype: int64

### Product_Category Column
Contains the Category of the product that was sold

In [11]:
sales_data["Product_Category"].value_counts()

# Data is ok just converted to string
sales_data["Product_Category"] = sales_data["Product_Category"].astype("string")

### Unit_Cost Column
Contains the original cost of the product

In [12]:
sales_data["Unit_Cost"].value_counts()

# Data is fine just converted to float

sales_data["Unit_Cost"] = sales_data["Unit_Cost"].astype("float")

### Unit_Price Column
Contains the Sale price of the product

In [13]:
sales_data["Unit_Price"].value_counts()

# Data is Fine just converted to float and changed name of column for better readability

sales_data["Unit_Price"] = sales_data["Unit_Price"].astype("float")

sales_data.rename(columns={"Unit_Price": "Unit_Sale_Price"},inplace=True)

### Customer_Type Column
Contains whether the customer was a new or returning customer

In [14]:
sales_data["Customer_Type"].value_counts()

# Data is ok just converted to string

sales_data["Customer_Type"] = sales_data["Customer_Type"].astype("string")

### Discount Column
Contains the total discount applied to the sale

In [15]:
sales_data["Discount"].value_counts()

# Data is fine just converted to float

sales_data["Discount"] = sales_data["Discount"].astype("float")

### Payment_Method Column
Contains the Method of Payment made for the sale by the customer

In [16]:
sales_data["Payment_Method"].value_counts() 

# Data is ok just converted to string

sales_data["Payment_Method"] = sales_data["Payment_Method"].astype("string")

### Sales_Channel Column
Contains how the sale was made either in Retail or Online

In [17]:
sales_data["Sales_Channel"].value_counts()

# Data is ok just converted to string

sales_data["Sales_Channel"] = sales_data["Sales_Channel"].astype("string")

### Region_and_Sales_Rep Column
Contains what region the sales rep made the sale in

In [18]:
sales_data["Region_and_Sales_Rep"].value_counts()

# Data is fine just converted to string and changing Regions from north, south, east and west to Ireland Provences

sales_data["Region_and_Sales_Rep"] = sales_data["Region_and_Sales_Rep"].astype("string")

## Data Transformation

### Creating new Total Sales Amount Column with and without discount applied

In [19]:
# Multiplying quantity sold by the Sale price of the unit sold to calculate total sales amount without discount
sales_data["Total_Sale_Amount_No_Discount"] = sales_data["Quantity_Sold"] * sales_data["Unit_Sale_Price"]

# Rounding the column to two decimal places
sales_data["Total_Sale_Amount_No_Discount"].round(2)

0        4809.96
1       71560.48
2       11142.00
3      174242.25
4        9005.23
         ...
995     21768.60
996     68686.80
997      7450.59
998    145992.21
999    140480.64
Name: Total_Sale_Amount_No_Discount, Length: 1000, dtype: float64

In [20]:
# Taking the Total sales amount without discount and taking away the discounted value 
sales_data["Total_Sale_Amount_with_Discount"] = sales_data["Total_Sale_Amount_No_Discount"] - (sales_data["Total_Sale_Amount_No_Discount"] * sales_data["Discount"])

# Rounding the new column to two decimal places
sales_data["Total_Sale_Amount_with_Discount"] = sales_data["Total_Sale_Amount_with_Discount"].round(2)

### Creating Total Unit cost of sale for profitability tracking

In [21]:
# Creating Total unit cost per sales by multiplying the quantity sold by the original cost of the unit
sales_data["Total_Unit_Cost_of_Sale"] = sales_data["Quantity_Sold"] * sales_data["Unit_Cost"]

# Rounding the column to two decimal places
sales_data["Total_Unit_Cost_of_Sale"].round(2)

0        2749.50
1       64878.63
2        7846.80
3      168871.17
4        8285.81
         ...
995     19772.12
996     64909.84
997      6047.24
998    143716.17
999    126363.84
Name: Total_Unit_Cost_of_Sale, Length: 1000, dtype: float64

### Creating Total Profit made per sale

In [22]:
# Calculating the total profit per sale by Taking away the total unit cost of the sale from the total sale amount including the discount applied
sales_data["Total_Profit_Per_Sale"] = sales_data["Total_Sale_Amount_with_Discount"] - sales_data["Total_Unit_Cost_of_Sale"]

# Rounding the column to two decimal places
sales_data["Total_Profit_Per_Sale"] = sales_data["Total_Profit_Per_Sale"].round(2)

### Changing Region types to Irish Provences

In [23]:
# Creating a provence lookup to assign each value in region to its respective provence in Ireland
provence_lookup = {
    "North":"Ulster",
    "West":"Connacht",
    "East":"Leinster",
    "South":"Munster"
}

# Replacing the region values with its respective provence
sales_data["Provence"] = sales_data["Region"].replace(provence_lookup)

### Changing Region and Sales rep columns to represent new region values

In [24]:
# Creating a new Region and sales Rep column that includes the new provence values
sales_data["Provence_and_Sales_Rep"] = (sales_data["Provence"] + '-') + (sales_data["Sales_Rep"])

### Dropping Sales Amount, Region, and Region and Sales Rep as no longer needed for analysis

In [25]:
sales_data.drop(columns={"Sales_Amount","Region","Region_and_Sales_Rep"},inplace=True)

### Final Inspection

In [26]:
sales_data.head(5)

,Product_ID,Sale_Date,Sales_Rep,Quantity_Sold,Product_Category,Unit_Cost,Unit_Sale_Price,Customer_Type,Discount,Payment_Method,Sales_Channel,Total_Sale_Amount_No_Discount,Total_Sale_Amount_with_Discount,Total_Unit_Cost_of_Sale,Total_Profit_Per_Sale,Provence,Provence_and_Sales_Rep
0,1052,2023-02-03,Bob,18,Furniture,152.75,267.22,Returning,0.09,Cash,Online,4809.96,4377.06,2749.50,1627.56,Ulster,Ulster-Bob
1,1093,2023-04-21,Bob,17,Furniture,3816.39,4209.44,Returning,0.11,Cash,Retail,71560.48,63688.83,64878.63,-1189.80,Connacht,Connacht-Bob
2,1015,2023-09-21,David,30,Food,261.56,371.40,Returning,0.20,Bank Transfer,Retail,11142.00,8913.60,7846.80,1066.80,Munster,Munster-David
3,1072,2023-08-24,Bob,39,Clothing,4330.03,4467.75,New,0.02,Credit Card,Retail,174242.25,170757.40,168871.17,1886.23,Munster,Munster-Bob
4,1061,2023-03-24,Charlie,13,Electronics,637.37,692.71,New,0.08,Credit Card,Online,9005.23,8284.81,8285.81,-1.00,Leinster,Leinster-Charlie

### Writing cleaned data to new CSV for Analysis and Visualizations

In [27]:
sales_data.to_csv("Data/Cleaned_Sales_Data.csv",index=False)

## Data Analysis to see what to use in Visualizations

### Data

In [ ]:
dtypes = {
    "Product_ID":"Int64",
    "Sales_Rep":"string",
    "Quantity_Sold":"Int64",
    "Product_Category":"string",
    "Unit_Cost":"float",
    "Unit_Sale_Price":"float",
    "Customer_Type":"string",
    "Discount":"float",
    "Payment_Method":"string",
    "Sales_Channel":"string",
    "Total_Sale_Amount_No_Discount":"float",
    "Total_Sale_Amount_with_Discount":"float",
    "Total_Unit_Cost_of_Sale":"float",
    "Total_Profit_Per_Sale":"float",
    "Provence":"string",
    "Provence_and_Sales_Rep":"string"

}

cleaned_sales_data = pd.read_csv("Data/Cleaned_Sales_Data.csv",dtype=dtypes)

cleaned_sales_data["Sale_Date"] = pd.to_datetime(cleaned_sales_data["Sale_Date"])

### Investigating Provence Sales
- Clearly Munster the lowest in Sales will investigate this further to find reasons for this

In [ ]:
cleaned_sales_data.groupby("Provence")["Total_Sale_Amount_with_Discount"].sum().sort_values(ascending=False)

Provence
Ulster      15570342.17
Leinster    15202282.25
Connacht    15018888.62
Munster     13894660.26
Name: Total_Sale_Amount_with_Discount, dtype: float64

- Interestingly Munsters average sale value is actually second highest

In [41]:
cleaned_sales_data.groupby("Provence")["Total_Sale_Amount_with_Discount"].mean().sort_values(ascending=False)

Provence
Connacht    61552.822213
Munster     61480.797611
Ulster      58315.888277
Leinster    57803.354563
Name: Total_Sale_Amount_with_Discount, dtype: float64

- We see here that Munsters Quantity Sold is actually their issue with the lowest quantity sold

In [42]:
cleaned_sales_data.groupby("Provence")["Quantity_Sold"].sum().sort_values(ascending=False)

Provence
Ulster      6705
Connacht    6486
Leinster    6356
Munster     5808
Name: Quantity_Sold, dtype: Int64

### Investigating Sales rep performance

- We see that Charlie has the lowest total sale amount overall out of all the sales reps, will investigate this further

In [45]:
cleaned_sales_data.groupby("Sales_Rep")["Total_Sale_Amount_with_Discount"].sum().sort_values(ascending=False)

Sales_Rep
David      13674409.17
Eve        12938723.99
Bob        11768703.71
Alice      11476645.56
Charlie     9827690.87
Name: Total_Sale_Amount_with_Discount, dtype: float64

- This shows that Charlie is underperforming across all provences and interestingly we seen Munster underperform and Charlie's worst area was also Munster by almost 300,000 compared to his next closest area, will definitly use this in the dashboard

In [46]:
cleaned_sales_data.groupby("Provence_and_Sales_Rep")["Total_Sale_Amount_with_Discount"].sum().sort_values(ascending=False)

Provence_and_Sales_Rep
Ulster-David        4107046.40
Leinster-David      3460735.11
Munster-Eve         3444320.02
Connacht-Bob        3396047.85
Ulster-Eve          3372250.62
Leinster-Alice      3264875.84
Connacht-David      3192080.41
Leinster-Bob        3112006.63
Connacht-Eve        3074008.15
Leinster-Eve        3048145.20
Munster-Alice       3003526.16
Connacht-Charlie    2914793.27
Munster-David       2914547.25
Ulster-Bob          2808246.68
Ulster-Alice        2766284.62
Ulster-Charlie      2516513.85
Munster-Bob         2452402.55
Connacht-Alice      2441958.94
Leinster-Charlie    2316519.47
Munster-Charlie     2079864.28
Name: Total_Sale_Amount_with_Discount, dtype: float64

- Most Sales reps average sale value seems to be around the same showing this isnt what is hindering Charlie's performance

In [47]:
cleaned_sales_data.groupby("Sales_Rep")["Total_Sale_Amount_with_Discount"].mean().sort_values(ascending=False)

Sales_Rep
Eve        61907.770287
David      61596.437703
Alice      59774.195625
Charlie    58152.016982
Bob        56580.306298
Name: Total_Sale_Amount_with_Discount, dtype: float64

- Similar to Munster's quantity sold limitation Charlie's issue also seems to lie in his quantity sold rather than the products he is selling

In [49]:
cleaned_sales_data.groupby("Sales_Rep")["Quantity_Sold"].sum().sort_values(ascending=False)

Sales_Rep
David      6042
Eve        5287
Bob        4977
Alice      4832
Charlie    4217
Name: Quantity_Sold, dtype: Int64

### Investigating Product Sales
- Since this dataset contains 1000 different products, investigating each category seems more feasible

In [52]:
cleaned_sales_data["Product_ID"].count()

1000

- We can see Clothing is the most popular product sold while Food was the least popular, Let's investigate this further

In [53]:
cleaned_sales_data.groupby("Product_Category")["Total_Sale_Amount_with_Discount"].sum().sort_values(ascending=False)

Product_Category
Clothing       16360844.60
Furniture      15363777.17
Electronics    15153225.31
Food           12808326.22
Name: Total_Sale_Amount_with_Discount, dtype: float64

- Based on this we can see food is not struggling in one area but all areas

In [61]:
cleaned_sales_data.groupby(["Provence", "Product_Category"])["Total_Sale_Amount_with_Discount"].sum().sort_values(ascending=False)

Provence  Product_Category
Ulster    Clothing            4424111.78
Connacht  Furniture           4290526.63
Leinster  Electronics         4192155.93
Ulster    Furniture           4174147.46
Leinster  Clothing            4159577.47
Connacht  Electronics         3914891.52
Munster   Clothing            3907815.95
Connacht  Clothing            3869339.40
Ulster    Electronics         3799465.86
Leinster  Furniture           3466563.05
Munster   Furniture           3432540.03
Leinster  Food                3383985.80
Munster   Food                3307592.28
          Electronics         3246712.00
Ulster    Food                3172617.07
Connacht  Food                2944131.07
Name: Total_Sale_Amount_with_Discount, dtype: float64

### Final Choice of Data for Dashboard and Visualizations

Based on analysis conducted I will take the following for the dashboard
- Product Sales Data
- Sales Rep Data
- Provence Sales Data